@import './rem';
@import './em';

$grid-breakpoints: (
  xs: 0,
  sm: em(576px),
  md: em(768px),
  lg: em(992px),
  xl: em(1200px),
  xxl: em(1696px)
);

$grid-columns:                60;
$grid-gutter-width:           rem(16px);
$grid-row-columns:            6;

@import './dg';